body{
  margin:0;
  background:#f4ecd8;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Courier New;
}

#ui{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#top{
  width:520px;
  display:flex;
  justify-content:space-between;
  font-size:26px;
  font-weight:bold;
  color:#b30000;
  text-shadow:2px 2px #000;
  margin-bottom:8px;
}

canvas{
  background:#fff;
  border:5px solid #000;
}

#bottom{
  width:520px;
  display:flex;
  justify-content:space-between;
  margin-top:8px;
  font-size:18px;
  font-weight:bold;
  color:#b30000;
  text-shadow:1px 1px #000;
}
